body {
	position: relative;
	min-width: 320px;
	font-family: $font-main;
	font-size: $fontsize;
	color: $color-black;
	background-image: linear-gradient(to right, #9796f0, #fbc7d4);

	@include media(769) {
		font-size: 16px;
	}
}

.container {
	max-width: 1280px;
	width: perc(1280, 1440);
	margin: 0 auto;

	@include media(768) {
		width: 100%;
		padding: 0 15px;
	}
}

.btn {
	text-align: center;
	background-color: $color-black;
	color: $color-white;
	padding: 15px 24px;
	border-radius: 12px;
	cursor: pointer;
	min-width: 130px;
	transition: 0.5s ease-in-out all;

	&:hover {
		border-radius: 3px;
		background-color: $color-light-purple;
	}

	@include media(1025) {
		padding: 10px 15px;
		border-radius: 6px;
	}
}